div.logo
    h1
        router-link(
            v-bind:to='{ name: "movieList" }'
        ) Movues
    p.credits
        small
            | Made with&nbsp;
            img.heart(src='../../assets/images/heart.svg')
            | &nbsp;by&nbsp;
            a(
                href='https://twitter.com/jmanuelrosa'
                target='_blank'
            ) @jmanuelrosa
            | &nbsp;&&nbsp;
            a(
                href='https://twitter.com/xaviju'
                target='_blank'
            ) @xaviju
