.movie-list
    ul(v-if='films')
        li(v-for='film in films')
            transition(appear name='fade')
                article
                      figure
                          img.no-image(
                              v-if='film.Poster === "N/A"'
                              v-cloak
                              src='../../assets/images/image.svg'
                              v-bind:alt='film.Title'
                              )
                          img(
                              v-else
                              v-cloak
                              v-bind:src='film.Poster'
                              v-bind:alt='film.Title'
                          )

                          figcaption {{ film.Title }} ({{ film.Year }})
