@import '../../assets/css/colors';

.movie-list {
    & .no-results {
        color: var(--color-black);
        font-size: .9rem;
    }

    & .empty,
    & .error {
        display: block;
        margin: 1rem auto;
        width: 3rem;
    }

    & ul {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, auto);
    }

    & figure {
        background-color: var(--color-white);

        & img {
            width: 100%;

            &.no-image {
                height: 350px;
                min-width: 250px;
                opacity: .1;
            }
        }

        & figcaption {
            color: var(--color-kashmir-blue);
            font-size: .9rem;
            padding: .6rem;
            text-align: center;
        }
    }

    & .no-results,
    & .error,
    & .empty,
    & .loading {
        text-align: center;
    }

    & .no-results,
    & .error {
        color: var(--color-carnation);
    }

    & .fade-enter-active, .fade-leave-active {
        transition: opacity .8s;
    }

    & .fade-enter, .fade-leave-to {
        opacity: 0;
    }
}
