@import '../../assets/css/colors';

.notes {
    & .create {
        display: flex;
    }
    & input[type="text"] {
        flex: 1;
        margin-right: .25rem;
        padding: 1rem;
    }
    & input["type=submit"] {
        flex: 0;
        background-color: #fff;
        padding: 1rem;
    }
    & li {
        padding: 1rem;
        border-bottom: 1px solid var(--color-iron-grey);
        &:last-child {
            border-bottom: 0;
        }
    }
}
