.history
    ul.history-list(
        v-if='latestSearches'
    )
        li.item(v-for='criteria in latestSearches')
            router-link(
                v-bind:to='{ name: "movieList", query: { criteria: criteria }}'
            ) {{ criteria }}
    template(v-else)
        img.empty(
            src='../../assets/images/empty.svg'
            alt=''
        )
        p.no-results Ninguna nota añadida
