@import '../../assets/css/colors';
.movie {
    display: flex;
    flex-direction: row;
    background: var(--color-white);
    padding: 2rem;
    border-radius: 4px;
    max-width: 800px;

    & .poster {
        margin-right: 2rem;
    }

    & h2 {
        border-bottom: 1px solid var(--color-blue-lagoon);
        color: var(--color-eden);
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
    }

    & dl {
        font-size: .8rem;
        margin: 0;
        padding: 0;

        & dt {
            float: left;
            clear: left;
            width: 4rem;
            font-weight: bolder;
        }

        & dd {
            margin: 0 0 0 4rem;
            padding: 0 0 0.5rem 0;
        }
    }

    & .movie-data {
        grid-area: footer;
        margin-top: 2rem;
        padding: 0 1rem;
    }
}
